<template>
  <Header />
  <div>
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
import "tailwindcss/tailwind.css";
import { defineComponent } from "vue";

import Header from "./components/Header.vue";

export default defineComponent({
  components: {
    Header,
  },
});
</script>
