<template>
  <div class="chart-container">
    <canvas :id="asset.name"></canvas>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import Chart from "chart.js/auto";
import { Asset } from "../store/modules/assets";

export default defineComponent({
  props: {
    asset: {
      type: Object as PropType<Asset>,
      default: {},
    },
  },
  mounted() {
    console.log("Props");
    console.log(this.asset);
    const ctx = this.asset.name;
    const myChart = new Chart(ctx, {
      type: "line",
      data: {
        labels: [
          "Jan",
          "Feb",
          "Mar",
          "Apr",
          "May",
          "Jun",
          "Aug",
          "Sep",
          "Oct",
          "Nov",
          "Dec",
        ],
        datasets: [
          {
            label: "invested",
            data: this.asset.deposits,
            borderColor: "blue",
            tension: 0.3,
            borderWidth: 1,
          },
          {
            label: "current",
            data: this.asset.valueUpdates,
            borderColor: "green",
            tension: 0.3,
            borderWidth: 1,
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
        plugins: {
          title: {
            display: true,
            text: this.asset.name,
          },
        },
      },
    });
  },
});
</script>

<style>
.chart-container {
  width: 400px;
  height: 400px;
}
</style>
