<template>
  <h2>Assets Table</h2>
  <table>
    <tr>
      <th class="border">AssetName</th>
      <th class="border">Value</th>
    </tr>
    <tr v-for="asset in assets">
      <th class="border">
        <router-link :to="`/asset/${asset.id}`">
          {{ asset.name }}
        </router-link>
      </th>
      <th class="border">0 $</th>
    </tr>
  </table>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import store from "../store";

export default defineComponent({
  computed: {
    assets() {
      return store.state.assets.assets;
    },
  },
});
</script>

<style>
table {
  margin: auto;
  padding: 2em;
}
</style>
