<template>
  <div class="rounded-xl bg-gray-100 w-max mx-auto border border-gray-300">
    <div class="my-3">
      <table class="table-auto border-collapse w-full">
        <thead>
          <tr>
            <th v-for="title of headerTitles" class="p-3 rounded-xl">
              {{ title }}
            </th>
          </tr>
        </thead>
        <tbody class="bg-gray-500 text-gray-50">
          <tr v-for="asset of assets">
            <th>{{ asset.name }}</th>
            <th>$ {{ asset.current }}</th>
            <th>{{ asset.goal }} %</th>
            <th>$ {{ asset.invest }}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { AssetGoals } from "../store/modules/assets";

export default defineComponent({
  name: "GoalsTable",
  props: {
    assets: {
      type: Object as PropType<AssetGoals[]>,
      default: {},
    },
  },
  data() {
    return {
      headerTitles: ["Asset", "Current", "Goal percentage", "Invest"],
    };
  },
});
</script>
