<template>
  <div
    class="
      flex
      justify-center
      uppercase
      space-x-2
      bg-gray-200
      py-3
      font-semibold
    "
  >
    <router-link
      v-for="page in pages"
      :to="page.route"
      class="hover:text-gray-400"
    >
      {{ page.title }}
    </router-link>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

const headerPages = [
  {
    title: "Home",
    route: "/",
  },
  {
    title: "Assets",
    route: "/assets/",
  },
  {
    title: "Goals",
    route: "/goals/",
  },
];

export default defineComponent({
  computed: {
    pages() {
      return headerPages;
    },
  },
});
</script>
