<template>
  <h2>Asset Details</h2>
  {{ asset?.name }}

  <AssetChart class="mx-auto" :asset="asset" />
</template>

<script lang="ts">
import { defineComponent } from "@vue/runtime-core";
import store from "../store";
import { Asset } from "../store/modules/assets";
import AssetChart from "../components/AssetChart.vue";

export default defineComponent({
  name: "AssetDetails",
  components: {
    AssetChart,
  },
  data() {
    return {
      asset: {} as Asset | undefined,
    };
  },
  created() {
    const assetId = this.$route.params.assetId;
    this.asset = store.state.assets.assets.find(
      (asset) => String(asset.id) === assetId
    );
  },
});
</script>
