<template>
  <h2>Goals</h2>

  <GoalsTable :assets="assets" />
</template>

<script lang="ts">
import { defineComponent } from "vue";

import GoalsTable from "../components/GoalsTable.vue";

const mockAssets = [
  { name: "IVVB", current: 1000, goal: 10, invest: 100 },
  { name: "BBSD", current: 2000, goal: 20, invest: 200 },
];

export default defineComponent({
  name: "Goals",
  components: {
    GoalsTable,
  },
  data() {
    return {
      assets: mockAssets,
    };
  },
});
</script>
