<template>
  <h1 class="font-bold">Savings Manager</h1>

  <div class="my-10 text-center">
    <label for="assset-name" class="font-semibold">Asset name: </label>
    <input
      v-model="assetName"
      class="border mx-2 rounded-lg h-10"
      id="asset-name"
    />
    <button
      @click="createAsset"
      class="bg-gray-200 py-2 px-3 rounded-lg capitalize"
    >
      add
    </button>
  </div>

  <AssetsTable />
</template>

<style>
.charts-list-container {
  display: flex;
  justify-content: space-around;
}
</style>

<script lang="ts">
import { defineComponent } from "vue";
import AssetsTable from "../components/AssetsTable.vue";

export default defineComponent({
  components: {
    AssetsTable,
  },
  methods: {
    createAsset() {
      if (this.assetName === "") {
        window.alert("Asset name is required");
        return;
      }

      this.$store.dispatch("createAsset", {
        name: this.assetName,
      });
      this.assetName = "";
    },
  },
  data() {
    return {
      assetName: "",
    };
  },
});
</script>
